# LobSTR interface						

# All lines starting with # are comments
# The first line of any new group must have tool group and description entries
# If the first and second columns are left blank, the subsequent lines are
# assumed to have the same information as the previous tool group and description

# tool_group	tool_description	argument	label	type	editing_constraints	default	mouse_over

Shared	Universal arguments	r1	Forward FASTQ	file	required	.fq;.fastq;.bam;.ubam;.gz	File containing forward NGS reads in FASTQ or BAM format
		R	Reference file	file	optional	.fa;.fasta	FASTA file for indexed custom reference (default hg19)
		single	Read data	choice	auto-detect;single-end;paired-end	auto-detect	Single-end or paired-end reads file(s)
#		single	Reads data	choice	single-end;paired-end	single-end	Input is single- or paired-end reads file(s)
		threads	Processes	int	1-8	1	Maximum computational processes to run simultaneously

#Trimmomatic	Trimmomatic	a	Adapter file	file		.fa;.fasta	File containing adapter sequences
#		c	Clip  adapters	tickbox		unticked	Cut specific adapter sequences from reads
Trimmomatic	Trimmomatic	s	Sliding Window	tickbox		ticked	Perform sliding window trimming
		w	Window size	int	1-20	4	Number of bases to average across
		q	Average quality	int	1-40	15	Average quality required
		d	Minimum length reads	tickbox		unticked	Drop reads below a specified length
		m	Minimum bases	int	1-200	30	Minimum length of reads to be kept
LobSTR	LobSTR	bwaq	Flank quality trim	int	1-40	15	errors tend to accumulate at the ends of reads, which are reflected in the base quality scores. Trimming off these low quality ends results in better alignments
		fft-window-size	FFT window size	int	12-36	24	FFT window size [16]
		fft-window-step	FFT window step	int	6-18	12	FFT window set [8]
		maxflank	Max flank	int 35-300	100	Maximum flanking sequencing region [50]
		max-diff-ref	Max diff ref	int	100-2000	500	don't report reads different in length by more than INT bp from the reference allele. If you are specifically interested in big expansions, you must set this to a number significantly higher than the expansion length you are looking for.
		mapq	Max mismatch MapQ	int	sum of qualities at base mismatches.	
		mismatch	Num mismatches	int	0-5	1	edit distance allowed during alignment of each flanking region. Set this higher to be more tolerable of alignment errors.
		g	Max gap opens	int	0-5	1	Maximum number of gap opens in each flanking region. Gap opens in flanking regions are often a signal of low quality alignment to the STR, so it is not recommended to increase this for short reads.
		e	Max gap extensions	int	0-5	1	maximum number of gap extensions allowed in each flanking region. This is also set to 1 by default but can be increased if using very long reads.
		r	Edit distance	int	0-100	10	edit distance allowed during alignment of each flanking region as a percentage of the read length. 
allelotype	Allelotype	min-border	Minimum border	int	0-40	5	Filter reads that do not extend past both ends of the STR region by at least <INT> bp. To include partially spanning reads, specify a large negative number.
		min-bp-before-indel	Min BP before indel	int	1-20	1	Filter reads with an indel occurring less than <INT> bases from either end of the read.
		maximal-end-match	Maximal end match	int	1-30	5	Filter reads whose prefix/suffix matches to reference are <= those obtained when shifting the read ends by distances within <INT> bp.
		min-read-end-match	Min read end match	int	1-20	5	Filter reads whose alignments don't exactly match the reference for at least <INT> bp at both ends.
