# LobSTR interface						

# All lines starting with # are comments
# The first line of any new group must have tool group and description entries
# If the first and second columns are left blank, the subsequent lines are
# assumed to have the same information as the previous tool group and description

# tool_group	tool_description	argument	label	type	editing_constraints	default	mouse_over

Shared	Universal arguments	r1	Forward FASTQ	file	required	.fq;.fastq;.bam;.ubam;.gz	File containing forward NGS reads in FASTQ or BAM format
		R	Reference file	file	optional	.fa;.fasta	FASTA file for indexed custom reference (default hg19)
		single	Read data	choice	auto-detect;single-end;paired-end	auto-detect	Single-end or paired-end reads file(s)
#		single	Reads data	choice	single-end;paired-end	single-end	Input is single- or paired-end reads file(s)
		threads	Processes	int	1-8	1	Maximum computational processes to run simultaneously

#Trimmomatic	Trimmomatic	a	Adapter file	file		.fa;.fasta	File containing adapter sequences
#		c	Clip  adapters	tickbox		unticked	Cut specific adapter sequences from reads
Trimmomatic	Trimmomatic	s	Sliding Window	tickbox		ticked	Perform sliding window trimming
		w	Window size	int	1-20	4	Number of bases to average across
		q	Average quality	int	1-40	15	Average quality required
		d	Minimum length reads	tickbox		unticked	Drop reads below a specified length
		m	Minimum bases	int	1-200	30	Minimum length of reads to be kept

LobSTR	LobSTR	bwaq	Flank quality trim	int	1-40	15	Errors tend to accumulate at the ends of reads, which are reflected in the base quality scores. Trimming off these low quality ends results in better alignments [10]
		fft-window-size	FFT window size	int	12-36	24	FFT window size [16]
		fft-window-step	FFT window step	int	6-18	12	FFT window set [4]
		entropy-threshold	entropy threshold	float	0-1-2	0.45	Threshold score to call a window periodic
		minflank	Min flank size	int	1-30	8	Minimum flanking sequence [8]
		maxflank	Max flank size	int	35-300	100	Maximum flanking sequencing region [50]
		max-diff-ref	Max diff ref	int	100-2000	500	Don't report reads different in length by more than INT bp from the reference allele. If you are specifically interested in big expansions, you must set this to a number significantly higher than the expansion length you are looking for.
		mapq	Max mismatch MapQ	int	1-1000	200	Sum of qualities at base mismatches.	
		m	Num mismatches	int	0-5	1	Edit distance allowed during alignment of each flanking region. Set this higher to be more tolerable of alignment errors.
		g	Max gap opens	int	0-5	1	Maximum number of gap opens in each flanking region. Gap opens in flanking regions are often a signal of low quality alignment to the STR, so it is not recommended to increase this for short reads.
		e	Max gap extensions	int	0-5	1	Maximum number of gap extensions allowed in each flanking region. This is also set to 1 by default but can be increased if using very long reads.
		r	Edit distance	int	0-100	10	Edit distance allowed during alignment of each flanking region as a percentage of the read length. 
		min-read-length	Min read length	int	45-300	45	Don't process reads longer than this
		max-read-length	Max read length	int	200-1024	1024	Don't process reads longer than this
		min-flank-allow-mismatch	Min flank with mismatch	int	1-60	30	Don't allow mismatches if flanking regions are shorter than this
allelotype	Allelotype	no-rmdup	Allow PCR duplicates	tickbox	ticked	Don't remove PCR duplicates before allelotyping
		min-border	Minimum border	int	0-40	5	Filter reads that do not extend past both ends of the STR region by at least <INT> bp. To include partially spanning reads, specify a large negative number.
		min-bp-before-indel	Min BP before indel	int	1-20	1	Filter reads with an indel occurring less than <INT> bases from either end of the read. [7]
		maximal-end-match	Maximal end match	int	1-30	5	Filter reads whose prefix/suffix matches to reference are <= those obtained when shifting the read ends by distances within <INT> bp [15].
		min-read-end-match	Min read end match	int	1-20	5	Filter reads whose alignments don't exactly match the reference for at least <INT> bp at both ends.
		min-het-freq	Min heterozygous freq	float	0-1-2	0.0	minimum frequency to make a heterozygous call
		max-diff-ref	Max differences from ref	int	0-200	50	Only use reads differing by at most this number of bp from the reference allele. Default: 50
		max-repeats-in-ends	Max flank repeats	int	-1-10	-1	Filter reads with more than <INT> occurrences of the repeat motif in the 4*period bp on either end of the read. -1 means no filter is applied. Default: -1	
		filter-clipped	Filter soft clipped reads	tickbox	unticked	Filter reads with hard or soft clipped bases at the ends
		filter-reads-with-n	Filter reads with Ns	tickbox	unticked	Filter reads that have one or more N bases

